<div class="contain">

    <input placeholder="search" class="my-2" style="width: 50rem;"><button id="search">Search</button>
    {{#each asset}}
        <article class="card" style="width: 50rem;">
            <div class="note">
                <a href="/company/{{_id}}">{{company}}</a>
                <a href="/editCompany/{{_id}}" class="card-link float-right px-1" >Edit</a>
                <a href="/deleteCompany/{{_id}}" class="card-link float-right px-1">Delete</a>
            </div>

        </article>
        
    {{/each}}
</div>
